/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	font-size: 1rem;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************************************
* Screen CSS by Jordan Dichev, http://dichev.net
* Summer of 2009
******************************************************************************/

html, body {
  background: #FFFAF0;
  color: #555;
  font-family: Georgia, serif;
}

html {
  background: #3B1F08;
}

body {
  background-image: url(../images/grass3.png), url(../images/top.png);
  background-position: 0 100%, 50% 0;
  background-repeat: repeat-x;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
	font-weight: 400;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h2 a {
  display: inline-block;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

ul ul {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 1rem;
}

p, li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.618;
}

li {
  margin-left: 1.5em;
}

dd {
  margin-bottom: 1em;
}

a {
  border-color: #FFC1BF;
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

a:link {
  color: #D33432;
}

a:visited {
  color: #DF4945;
}

a:hover {
  border-bottom-style: solid;
}

a:visited:hover {
  border-bottom-style: solid;
}

pre {
  font-family: monospace;
  white-space: normal;
}

small {
  font-size: 0.85rem;
}

blockquote {
  margin-left: 20px;
  font-size: 0.9rem;
}

/* LAYOUTS
*******************************************************************************/
header, #main, footer {
  width: 716px;
	padding-right: 78px;
  margin: 0 auto;
}

/* HEADER
*******************************************************************************/
header {
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
	font-size: 1.2rem;
}

a#site_name {
    float: left;
    color: #333;
		font-weight: 400;
		letter-spacing: -3px;
    text-align: center;
		font-size: 2rem;
}

#navi {
  float: right;
}

#navi li {
  float: left;
  margin-bottom: 0;
  list-style: none;
}

a#site_name,
#navi li a {
  display: block;
  line-height: 3rem;
  vertical-align: middle;
  padding: 0 1rem;
  color: #777;
  border: none;
}

header a:hover {
  text-decoration: underline;
}

#navi li.active a {
  color: #000;
}

#hero {
  color: #555;
  padding: 1rem 0;
  font-size: 1.1rem;
}

#hero:hover {
  cursor: default;
  color: #333;
}

#post,
.post {
  margin-bottom: 100px;
  position: relative;
}

#post img,
.post img {
  max-width: 100%;
}

footer {
  clear: both;
  overflow: auto;
  padding: 3rem 0 10rem;
  font-size: 0.85rem;
  margin-bottom: 10rem;
}

footer p {
  text-align: center;
}

@media (max-width: 1024px) {
	html {
		font-size: 200%;
	}

	header {
		padding: 0 1rem;
	}

  header, #main, footer {
    width: auto;
		padding-right: 0;
  }

  #main {
    padding: 0 2rem;
  }

  #hero {
    padding: 1rem 0;
    margin: 0;
  }
}
