/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************************************
* Screen CSS by Jordan Dichev, http://dichev.net
* Summer of 2009
******************************************************************************/

html, body {
  background: #FFFAF0;
  color: #555;
  font-family: DroidSerifRegular, Georgia, serif;
}

html {
  background: #3B1F08;
}

body {
  background-image: url(../images/grass3.png), url(../images/top.png);
  background-position: 0 100%, 50% 0;
  background-repeat:  repeat-x;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DroidSerifRegular;
  margin-bottom: 1em;
  line-height: 1.618;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 220%;
}

h2 a {
  display: inline-block;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 110%;
}

ul ul {
  font-size: 100%;
  margin-left: 10px;
  margin-top: 1em;
}

p, li {
  margin-bottom: 1em;
  font-size: 1.1rem;
  line-height: 1.618;
}

li {
  margin-left: 1.5em;
}

dd {
  margin-bottom: 1em;
}

a {
  border-color: #FFC1BF;
  text-decoration: none;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

a:link {
  color: #D33432;
}

a:visited {
  color: #DF4945;
}

a:hover {
  border-bottom-style: solid;
}

a:visited:hover {
  border-bottom-style: solid;
}

pre {
  font-family: monospace;
  /*font-size: 2rem;*/
  /*font-size: 80%;*/
  white-space: normal;
}

code {
  /*font-size: 1rem;*/
  /*font-size: 2rem;*/
  /*font-family: monospace;*/
}

small {
  font-size: 85%;
}

blockquote {
  margin-left: 20px;
  font-size: 90%;
}

/* LAYOUTS
*******************************************************************************/
header, #main, footer {
  width: 800px;
  margin: 0 auto;
}

/* HEADER
*******************************************************************************/
header {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-top: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

a#site_name {
    float: left;
    min-width: 160px;
    color: #333;
    text-align: center;
    font-size: 16px;
}

#navi {
  float: right;
  margin-right: 32px;
}

#navi li {
  float: left;
  margin-left: 1rem;
  margin-bottom: 0;
  list-style: none;
}

a#site_name,
#navi li a {
  /*font-size: 85%;*/
  display: block;
  line-height: 3rem;
  /*height: 40px;*/
  vertical-align: middle;
  padding: 0 1rem;
  color: #777;
  font-family: DroidSerifRegular;
  border: none;
}

header a:hover {
  text-decoration: underline;
}

#navi li.active a {
  color: #000;
}

#hero {
  color: #555;
  padding: 38px 40px;
  font-size: 110%;
  text-shadow: 0 0 60px #bbb;
  transition: text-shadow 0.5s ease;
  text-align: center;
}

#hero:hover {
  cursor: default;
  color: #333;
  text-shadow: 0 0 1px #ddd;
}

#hero h2 {
  margin-bottom: 8px;
}

#post,
.post {
  margin-bottom: 100px;
  position: relative;
}

.post h5,
#post h5 {
  color: #bbbbbb;

  width: 120px;
  font-size: 65%;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -10px;
  margin-left: -130px;
  text-align: right;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

  transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -mx-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
}

#post img,
.post img {
  max-width: 100%;
}

footer {
  clear: both;
  overflow: auto;
  padding: 3rem 0 10rem;
  font-size: 85%;
  margin-bottom: 10rem;
}

footer p {
  text-align: center;
}



@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }
  header, #main, footer {
    width: auto;
  }

  #main {
    padding: 0 2rem;
  }

  #logo a,
  #navi li a {
    font-size: 1.3rem;
  }

  #hero {
    padding: 1rem 0;
    margin: 0;
  }
}
