extends layout

block content
  //- underscore helps us filter and sort our articles
  - var posts = _.chain(contents.bg.posts._.directories).map(function(item) {
  -   // map articles to index pages of subdirectories of 'articles'
  -   return item.index
  - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
  -   // sort them by date
  -   return -item.date
  - }).first(5).value() // and finally take the first 5

  //section#hero!= page.html

  each post in posts
    div.post
      h2
        a(href=post.url)= post.title
        //- h5= moment(post.date).format('DD.MM.YYYY')
      != post.html
