doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = page.title
      link(rel='stylesheet', href='/font/droid-serif/stylesheet.css')
      link(rel='stylesheet', href='/css/screen.css')

  body

    header
      a#site_name(href='/')= locals.title

      ul#navi
        li
          a(href='/bg/about.html') Относно
        li
          a(href='/bg/archive.html') Архив

    section#main
      block content

    footer
      p= locals.title

    script(src='/js/main.js', type='text/javascript').
    script(src='//static.getclicky.com/js', type='text/javascript').
    script(type='text/javascript').
      try{ clicky.init(66638379); }catch(e){}
    noscript
      p
        img(alt='Clicky', width='1', height='1', src='//in.getclicky.com/66638379ns.gif')
